.hGroup-container {
    display: flex;
    align-items: center;
}

.hGroup__img {
    max-width: 300px;
}

.hGroup h1 {
    text-align: center;
    justify-self: center;
}

.hGroup h2 {
    text-align: center;
    padding: 0 20px;
}