.navigation {  
    background-color: lavender;
    border-bottom: 2px solid coral;
  
    margin: 0 auto;
}

.navigation__list {
    display: flex;   
    margin: auto;
    justify-content: center;
padding: 0;
}

.navigation__item {
    font-weight: 700;
    list-style: none;
          padding: 10px 20px;
     }
}

.navigation__link {
    text-decoration: none;
    color: #444;
}

.navigation__link:visited {
    color: grey;
}

.navigation__link:focus {
    outline: 2px solid rgba(28, 110, 164, 1);
    outline-offset: 1px;
    padding: 3px;
}

.navigation__link:hover {
    color: black;
    text-decoration: underline;
}

.navigation__link:active {
    color: blueviolet;
}

.navigation .navigation__link--mono:hover {
    color: #ccc;
}