html {
  box-sizing: border-box;
}

*,
:before,
:after {
  box-sizing: inherit;
}

.body {
  background-color: #ddd;
  color: #333;
  font-family: "Nobile", sans-serif;
  font-size: 18px;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}

.mainContainer {
  background-color: #fff;
   max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}


.darkTheme {
  color: white !important;
  background-color: black !important;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}


.paragraph {
  text-align: justify;
  line-height: 1.2em;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
}

.button__lightDark {
  width: 300px;
  text-align: center;  
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;

}



footer {
  background-color: black;
  color: #ddd;
  padding: 50px 10px;
  margin: 0;
  width: 100%;
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -ms-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;

  
}
